################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FormLibrary/.vs/FormLibrary/v16
/FormLibrary/FormLibrary/obj/Debug
/FormLibrary/FormLibrary/bin/Debug
/WindowsFormsApp1
